{% extends 'baseNew.html' %}

{% block pagetitle %}Repository Archive Tool - Personal Access Token{% endblock %}

{% block body %}

<!-- Personal Access Token Entry -->
<h1 class="ons-u-mt-l">Personal Access Token</h1>
<form action="/login" method="post">
    <div class="ons-panel ons-panel--info ons-panel--no-title ons-u-mb-s">
      <span class="ons-panel__assistive-text ons-u-vh">Important information: </span>
      <div class="ons-panel__body">
        <div class="ons-field ons-question__answer">
          <div class="ons-field">
            <label class="ons-label ons-label--with-description" aria-describedby="pat-hint"
              for="pat">Personal Access Token</label>
            <span id="pat-hint" class="ons-label__description  ons-input--with-description">Keep this
              code safe. You will need to enter it before using the tool.</span>
            <input type="text" name="pat" id="pat" class="ons-input ons-input--text ons-input-type__input"
              aria-describedby="pat-hint" required/>
          </div>
          <a class="ons-u-fs-s ons-input__post-link" href="https://github.com/ONS-Innovation/RepoArchiveTool" target="_blank">Where to get a Personal Access Token</a>
        </div>
      </div>
    </div>
    <button type="submit" class="ons-btn ons-u-mb-xl">
      <span class="ons-btn__inner"><span class="ons-btn__text">Submit Access Token</span>
      </span>
    </button>
</form>
<h2>If you do not have a Personal Access Token</h2>
<p> If you do not have a Personal Access Token (or need a new one), you can <a href="https://github.com/ONS-Innovation/RepoArchiveTool" target="_blank">follow these instructions</a> in the project's readme.</p>


{% endblock %}