{% extends 'base.html' %}

{% block pagetitle %}Repository Archive Tool - Find Repositories{% endblock %}

{% block body %}

<h1 class="ons-u-mt-l">Find Repositories</h1>

<form action="/find_repositories" method="post" onsubmit="document.getElementById('loading').hidden = false;">
	<fieldset class="ons-fieldset ons-u-mb-l">
		<div class="ons-field">
			<label class="ons-label ons-label--with-description" aria-describedby="organisation-hint"
				for="org">Organisation Name</label>
			<span id="organisation-hint" class="ons-label__description  ons-input--with-description">For example, ons-digital</span>
			<input type="text" name="org" id="org" class="ons-input ons-input--text ons-input-type__input"
				aria-describedby="organisation-hint" maxlength="40" placeholder="Organisation" required/>
		</div>

		<div class="ons-field">
			<label class="ons-label ons-label--with-description" aria-describedby="date-hint"
				for="date">Archive Date</label>
			<span id="date-hint" class="ons-label__description  ons-input--with-description">For example, 01/01/2024 will get any repositories with no commits since January 1st 2024</span>
			<input type="date" name="date" id="date" class="ons-input ons-input--text ons-input-type__input"
				aria-describedby="date-hint" max="{{ date }}" required/>
		</div>

		<div class="ons-field">
			<label class="ons-label" for="repoType">Repository Type</label>
			<select id="repoType" name="repoType" class="ons-input ons-input--select">
				<option selected value="all">All</option>
				<option value="public">Public</option>
				<option value="private">Private</option>
				<option value="internal">Internal</option>
			</select>
		</div>
	</fieldset>

	<button type="submit" class="ons-btn ons-btn--loader ons-btn--loader ons-js-loader ons-js-submit-btn">
		<span class="ons-btn__inner"><span class="ons-btn__text">Find Repositories</span>
		</span>
	</button>

	<div id="loading" hidden>
		<span><i>This might take a while...</i></span>
	</div>
</form>

{% endblock %}