{% extends 'base.html' %}

{% block pagetitle %}Repository Archive Tool - Manage Repositories{% endblock %}

{% block head %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	<script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}

{% block body %}

{% if reposAdded > 0 %}

	<div aria-labelledby="alert" role="alert" tabindex="-1" class="ons-panel ons-panel--success ons-panel--no-title"
		id="success-id">
		<span id="alert" class="ons-panel__assistive-text ons-u-vh">Completed: </span>
		<span class="ons-panel__icon ons-u-fs-r"><svg class="ons-icon" viewBox="0 0 13 10" xmlns="http://www.w3.org/2000/svg"
			focusable="false" fill="currentColor">
			<path
				d="M14.35,3.9l-.71-.71a.5.5,0,0,0-.71,0h0L5.79,10.34,3.07,7.61a.51.51,0,0,0-.71,0l-.71.71a.51.51,0,0,0,0,.71l3.78,3.78a.5.5,0,0,0,.71,0h0L14.35,4.6A.5.5,0,0,0,14.35,3.9Z"
				transform="translate(-1.51 -3.04)" />
			</svg></span>
		<div class="ons-panel__body">{{ reposAdded }} repositories added.</div>
	</div>

{% elif reposAdded == 0 %}

	<div class="ons-panel ons-panel--info ons-panel--no-title">
		<span class="ons-panel__assistive-text ons-u-vh">Important information: </span>
		<div class="ons-panel__body">
			<p>No new repositories to add.</p>
		</div>
	</div>

{% endif %}

{% if statusMessage != "" %}
	<div class="ons-panel ons-panel--info ons-panel--no-title">
		<span class="ons-panel__assistive-text ons-u-vh">Important information: </span>
		<div class="ons-panel__body">
			<p>{{ statusMessage }}.</p>
		</div>
	</div>
{% endif %}

<h1 class="ons-u-mt-l">Manage Repositories</h1>

{% if repos|length < 1 %}

	<div class="ons-panel ons-panel--info ons-panel--no-title">
		<span class="ons-panel__assistive-text ons-u-vh">Important information: </span>
		<div class="ons-panel__body">
			<p>No Repositories Stored. Please <a href="/">find repositories</a> first.</p>
		</div>
	</div>

{% else %}

	<div class="ons-grid ons-u-mb-s" style="border: 2px solid black;">
		<div class="ons-grid__col ons-col-6@m">
			<div class="ons-u-mt-s">
				<div class="ons-field">
					<span class="ons-grid--flex  ons-input_search-button">
						<label class="ons-label ons-label--placeholder" for="repoSearch">Search Repositories...</label>
						<input type="search" id="repoSearch"
							class="ons-input ons-input--text ons-input-type__input ons-search__input ons-input--placeholder"
							placeholder="Search Repositories..." />
					</span>
				</div>
			</div>

			<div class="ons-u-mt-s">
				<div class="ons-field">
					<span class="ons-grid--flex  ons-input_search-button">
						<label class="ons-label ons-label--placeholder" for="typeSearch">Search Repository Type...</label>
						<input type="search" id="typeSearch"
							class="ons-input ons-input--text ons-input-type__input ons-search__input ons-input--placeholder"
							placeholder="Search Repository Type..."/>
					</span>
				</div>
			</div>
		</div>

		<div class="ons-grid__col ons-col-6@m">
			<div class="ons-u-mt-s">
				<div class="ons-field">
					<span class="ons-grid--flex  ons-input_search-button">
						<label class="ons-label ons-label--placeholder" for="contribSearch">Search Contributors...</label>
						<input type="search" id="contribSearch"
							class="ons-input ons-input--text ons-input-type__input ons-search__input ons-input--placeholder"
							placeholder="Search Contributors..."/>
					</span>
				</div>
			</div>

			<div class="ons-u-mt-s">
				<button type="button" class="ons-btn ons-search__btn" onclick="searchRepos()">
					<span class="ons-btn__inner"><span class="ons-btn__text">Search</span><svg class="ons-icon ons-u-ml-xs" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg"
							aria-hidden="true" fill="currentColor">
							<path
								d="M11.86 10.23 8.62 6.99a4.63 4.63 0 1 0-6.34 1.64 4.55 4.55 0 0 0 2.36.64 4.65 4.65 0 0 0 2.33-.65l3.24 3.23a.46.46 0 0 0 .65 0l1-1a.48.48 0 0 0 0-.62Zm-5-3.32a3.28 3.28 0 0 1-2.31.93 3.22 3.22 0 1 1 2.35-.93Z" />
						</svg><span class="ons-btn__text ons-u-vh@xxs@s"><span class="ons-u-vh">Search</span></span>
					</span>
				</button>
			
				<button type="button" class="ons-btn ons-btn--secondary ons-u-mb-s" onclick="window.location.reload();">
					<span class="ons-btn__inner"><span class="ons-btn__text">Clear Filters</span>
					</span>
				</button>
			</div>
		</div>
	</div>

	<table id="repoTable" class="ons-table ons-table--sortable ons-table--compact" data-aria-sort="Sort by" data-aria-asc="ascending" data-aria-desc="descending" style="display: block; overflow-x: auto;">
		<caption class="ons-table__caption">Repositories to Archive</caption>
		<thead class="ons-table__head">
			<tr class="ons-table__row">
				<th scope="col" class="ons-table__header" aria-sort="ascending">
					<span class="ons-table__header-text">Name</span>
					<svg id="sort-sprite-name" class="ons-icon ons-u-d-no" viewBox="0 0 12 19" xmlns="http://www.w3.org/2000/svg"
						focusable="false" fill="currentColor">
						<path class="ons-topTriangle" d="M6 0l6 7.2H0L6 0zm0 18.6l6-7.2H0l6 7.2zm0 3.6l6 7.2H0l6-7.2z" />
						<path class="ons-bottomTriangle" d="M6 18.6l6-7.2H0l6 7.2zm0 3.6l6 7.2H0l6-7.2z" />
					</svg>
				</th>
				<th scope="col" class="ons-table__header" aria-sort="none">
					<span class="ons-table__header-text">Type</span>
					<svg id="sort-sprite-type" class="ons-icon ons-u-d-no" viewBox="0 0 12 19" xmlns="http://www.w3.org/2000/svg"
						focusable="false" fill="currentColor">
						<path class="ons-topTriangle" d="M6 0l6 7.2H0L6 0zm0 18.6l6-7.2H0l6 7.2zm0 3.6l6 7.2H0l6-7.2z" />
						<path class="ons-bottomTriangle" d="M6 18.6l6-7.2H0l6 7.2zm0 3.6l6 7.2H0l6-7.2z" />
					</svg>
				</th>
				<th scope="col" class="ons-table__header" aria-sort="none">
					<span class="ons-table__header-text">Contributors</span>
					<svg id="sort-sprite-contributors" class="ons-icon ons-u-d-no" viewBox="0 0 12 19" xmlns="http://www.w3.org/2000/svg"
						focusable="false" fill="currentColor">
						<path class="ons-topTriangle" d="M6 0l6 7.2H0L6 0zm0 18.6l6-7.2H0l6 7.2zm0 3.6l6 7.2H0l6-7.2z" />
						<path class="ons-bottomTriangle" d="M6 18.6l6-7.2H0l6 7.2zm0 3.6l6 7.2H0l6-7.2z" />
					</svg>
				</th>
				<th scope="col" class="ons-table__header">
					<span class="ons-table__header-text">Date Added</span>
				</th>
				<th scope="col" class="ons-table__header">
					<span class="ons-table__header-text">Last Commit</span>
				</th>
				<th scope="col" class="ons-table__header text-centre">
					<span class="ons-table__header-text">Exempt Until</span>
				</th>
	
				<th scope="col" class="ons-table__header text-centre">
					<span class="ons-table__header-text">Exempt Reason</span>
				</th>

				<th scope="col" class="ons-table__header text-centre">
					<span class="ons-table__header-text">Exempt By</span>
				</th>

				<th scope="col" class="ons-table__header text-centre">
					<!-- Empty column as a placeholder for the clear button -->
				</th>
			</tr>
		</thead>
		<tbody class="ons-table__body">
			{% for repo in repos %}
				<tr class="ons-table__row">
					<td class="ons-table__cell">{{ repo["name"] }}</td>
					<td class="ons-table__cell">{{ repo["type"] }}</td>
					<td class="ons-table__cell" data-sort-value="{{ repo["contributors"]|length }}">
						{% for contributor in repo["contributors"] %}
							<a href="{{ contributor["url"] }}" target="_blank" class="text-decoration-none" aria-label="{{ contributor["login"] }}">
								<img src="{{contributor["avatar"]}}" alt="User Avatar" width="32px" height="32px">
							</a>
						{% endfor %}
					</td>
					<td class="ons-table__cell">{{ repo["dateAdded"] }}</td>
					<td class="ons-table__cell">{{ repo["lastCommit"] }}</td>

					{% if repo["exemptUntil"] == "1900-01-01" %}
						<td class="ons-table__cell text-centre" colspan="4">
							<a href="/set_exempt_date?repoName={{ repo["name"] }}">Set Date</a>
						</td>
					{% else %}
						<td class="ons-table__cell">
							{{ repo["exemptUntil"] }}
						</td>
						<td class="ons-table__cell">
							{{ repo["exemptReason"] }}
						</td>
						<td class="ons-table__cell">
							<a href="mailto:{{ repo["exemptBy"]["email"] }}">{{ repo["exemptBy"]["name"] }}</a>
						</td>
						<td class="ons-table__cell">
							<a href="/confirm?message=Are%20you%20sure%20you%20want%20to%20remove%20the%20archive%20excemption%20date%20for%20{{ repo["name"] }}?&cancelUrl=/manage_repositories&confirmUrl=/clear_exempt_date?repoName={{ repo["name"] }}">Clear</a>
						</td>
					{% endif %}
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<button type="button" class="ons-btn" onclick="window.location.href = '/confirm?message=If%20you%20continue,%20any%20repositories%20added%20to%20the%20system%20more%20than%2030%20days%20ago,%20and%20not%20marked%20as%20kept,%20will%20be%20archived.%20Are%20you%20sure%20you%20want%20to%20continue?&confirmUrl=/archive_repositories&cancelUrl=/manage_repositories'">
		<span class="ons-btn__inner"><span class="ons-btn__text">Archive Repositories</span>
		</span>
	</button>

	<button type="button" class="ons-btn ons-btn--secondary" onclick="window.location.href = '/confirm?message=If%20you%20continue,%20all%20stored%20repositories%20will%20be%20removed.%20Are%20you%20sure%20you%20want%20to%20continue?&confirmUrl=/clear_repositories&cancelUrl=/manage_repositories'">
		<span class="ons-btn__inner"><span class="ons-btn__text">Clear Repository List</span>
		</span>
	</button>

	<br>

	<a href="/download_recently_added" role="button"
		class="ons-btn ons-btn--download ons-btn--small ons-btn--secondary ons-btn--link ons-js-submit-btn ons-u-mt-s">
		<span class="ons-btn__inner"><svg class="ons-icon ons-u-mr-xs" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg"
				focusable="false" fill="currentColor" role="img" title="ons-icon-download">
				<path
					d="M5.6 9a.48.48 0 0 0 .7 0l3-3.2a.48.48 0 0 0 0-.7C9.3 5 9.2 5 9 5H7.5V.5A.47.47 0 0 0 7 0H5a.47.47 0 0 0-.5.5V5H3a.47.47 0 0 0-.5.5.37.37 0 0 0 .1.3Z" />
				<path
					d="M11.5 9H11a.47.47 0 0 0-.5.5v1h-9v-1A.47.47 0 0 0 1 9H.5a.47.47 0 0 0-.5.5v2a.47.47 0 0 0 .5.5h11a.47.47 0 0 0 .5-.5v-2a.47.47 0 0 0-.5-.5Z" />
			</svg><span class="ons-btn__text">Download Recently Added Repositories</span></span>
	</a>

{% endif %}

{% endblock %}