
{% extends 'base.html' %}

{% block head %}
<title>Repository Archive Tool</title>
{% endblock %}

{% block body %}

<main>
    <div class="container">
        <div class="row border rounded shadow m-3">
            <div class="col-4 bg-body-secondary p-3">
                <ul class="nav nav-pills nav-justified flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Find Repositories</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/manageRepositories">Manage Repositories</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/recentlyArchived">View Recently Archived Repositories</a>
                    </li>
                </ul>
            </div>
            <div class="col-8 p-3">
                {% if pat == '' %}
                    <div class="alert alert-danger text-center">
                        Please add a Personal Access Token before using this tool.
                    </div>    
                {% endif %}
                
                
            </div>
        </div>
    </div>
</main>

{% endblock %}
