
{% extends 'base.html' %}

{% block head %}
<title>Repository Archive Tool</title>

<script>
    function searchRepo(searchbarID){
        searchBar = document.getElementById(searchbarID);
        searchValue = searchBar.value.toUpperCase();

        batches = document.getElementsByClassName("accordion-item");

        for(batch of batches){
            repoCards = batch.getElementsByClassName("card-title");

            if(repoCards.length == 0){
                if(searchValue != ""){
                    batch.style.display = "none";
                }
                else {
                    batch.style.display = "";
                }
            }
            else {
                for(card of repoCards){
                    if(card.innerText.toUpperCase().indexOf(searchValue) > -1){
                        batch.style.display = "";
                    }
                    else {
                        batch.style.display = "none";
                    }
                }
            }
        }
    }
</script>
{% endblock %}

{% block body %}

<main>
    <div class="container">
        <div class="row border rounded shadow m-3">
            <div class="col p-3">
                <ul class="nav nav-tabs nav-justified rounded m-3">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Find Repositories</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/manageRepositories">Manage Repositories</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/recentlyArchived">View Archive Batches</a>
                    </li>
                </ul>

                {% if pat == '' %}
                    <div class="alert alert-danger text-center">
                        Please add a Personal Access Token before using this tool.
                    </div>    
                {% endif %}

                {% if batchID != '' %}
                    <div class="alert alert-success text-center">
                        Batch {{ batchID }} has been successfully reverted.
                    </div>   
                {% endif %}

                <input type="text" id="archiveSearch" class="form-control mt-3 mb-3" onkeyup="searchRepo('archiveSearch')" placeholder="&#128269; Search for a Repository...">
                
                <div class="accordion" id="batchAccordion">
                    {% for batch in archiveList %}
                        <div id="batch{{ batch["batchID"] }}" class="accordion-item">
                            <h2 class="accordion-header" id="heading{{ batch["batchID"] }}">
                                <button class="accordion-button {% if not loop.first %}collapsed{% endif %}" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ batch["batchID"] }}" aria-expanded="{% if loop.first %}true{% else %}false{% endif %}" aria-controls="collapse{{ batch["batchID"] }}">
                                    <div class="col">
                                        <p class="m-0"><b>Batch {{ batch["batchID"] }}</b>{% if loop.first %} | <i>Most Recent</i> {% endif %}</p>
                                        {% if batch["repos"]|length > 0 %}
                                            <p class="m-0 text-body-secondary">{{ batch["repos"]|length }} Repositories Archived</p>
                                        {% else %}
                                            <p class="m-0 text-body-secondary">Archive Reverted</p>
                                        {% endif %}
                                    </div>
                                    <div class="col text-end me-3">
                                        <p class="m-auto"><i>{{ batch["date"] }}</i></p>
                                    </div>
                                </button>
                            </h2>
                            <div id="collapse{{ batch["batchID"] }}" class="accordion-collapse collapse {% if loop.first %}show{% endif %}" aria-labelledby="heading{{ batch["batchID"] }}" data-bs-parent="#batchAccordion">
                                <div class="accordion-body text-center" {% if batch["repos"]|length == 0 %}hidden{% endif %}>
                                    <h4>Batch Contents:</h4>
                                    <div class="row row-cols-1 row-cols-md-2">
                                        {% for repo in batch["repos"] %}
                                            <div class="col">
                                                <div class="card {% if repo['status'] == 'Success' %}border-success{% else %}border-danger{% endif %} mt-2">
                                                    <div class="card-body">
                                                        <h5 class="card-title" aria-label="{{ batch["batchID"] }}">{{ repo["name"] }}</h5>
                                                        {{ repo["status"] }} | {{ repo["message"] }}
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    
                                    <button class="btn btn-danger m-3" data-bs-toggle="modal" data-bs-target="#confirmUndo{{ batch["batchID"] }}" {% if pat == '' %} disabled {% endif %}>Undo Archive <i class="fa fa-undo"></i></button>
                
                                    <div class="modal fade" id="confirmUndo{{ batch["batchID"] }}" tabindex="-1" aria-labelledby="confirmClearLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="confirmClearLabel">Are you sure?</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
            
                                                <form>
                                                    <div class="modal-body">
                                                        Are you sure you want to unarchive <b>{{ batch["repos"]|length }}</b> repositories?
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                                        <a class="btn btn-danger" href="/undoBatch?batchID={{ batch["batchID"] }}">Confirm</a>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}
